{% extends "_base.html" %}
{% block content %}
    <h1>Login</h1>
    {% if form.errors %}
        <p class="ui message error">Username/Password didnt match. <a href="{% url "account:login" %}">Try again</a></p>
    {% else %}
    <div class="login-form">
        <form 
            class="ui form" 
            action="." 
            method="post">
            {% csrf_token %}
            <div class="field">
                <label for="username">Username</label>
                {{ form.username }}
            </div>
            <div class="field">
                <label for="password">Password</label>
                {{ form.password }}
            </div>
            <div class="field">
                <label for="select_auth">OneTouch/SoftToken</label>
                <select name="select_auth" id="select_auth">
                    <option value="onetouch">OneTouch</option>
                    <option value="token">SoftToken</option>
                </select>
            </div>
            <input type="hidden" name="next" value="{{ next }}">
            <p><input 
                type="submit" 
                value="Login" 
                class="ui button green"></p>  
        </form>
    <p><a href="{% url "account:password_reset" %}">Forgot your password?</a></p>
    <p>Don't have an account yet? <a href="{% url "account:register" %}">Register.</a></p>
    </div>
    {% endif %}
{% endblock content %}