{% extends "_base.html" %}
{% block title %}
    {% if user.has_usable_password %}
    Change the password
    {% else %}
    Create a password
    {% endif %}
{% endblock title %}

{% block content %}
    {% if user.has_usable_password %}
    <h1>Change the password</h1>
    {% else %}
    <h1>Create a password</h1>
    {% endif %}
    <form action="." method="post">
        {% csrf_token %}
        {{form}}
        {% if user.has_usable_password %}
        <p><input type="submit" value="Change"></p>
        {% else %}
        <p><input type="submit" value="Create"></p>
        {% endif %}
    </form>
{% endblock content %}