{% extends "_base.html" %}
{% block title %}
    Reset the password
{% endblock title %}

{% block content %}
    <h1>Reset the password</h1>
    {% if user_form.non_field_errors %}
        <div class="ui message error">
            {{ user_form.non_field_errors }}
        </div>
    {% endif %}
    {% if validlink %}
        <form 
            class="ui form" 
            action="." 
            method="post">
            {% csrf_token %}
            <div class="field">
                <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}
                    <div class="ui message error">
                        {{ form.new_password1.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="field">
                <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                    <div class="ui message error">
                        {{ form.new_password2.errors }}
                    </div>
                {% endif %}
            </div>
            <p><input 
                class="ui button green" 
                type="submit" 
                value="Reset"></p>
        </form>
    {% else %}
        <p>Password reset link was invalid. Try <a href="{% url "account:password_reset" %}">again</a></p>
    {% endif %}
{% endblock content %}