{% extends "_base.html" %}
{% block title %}
    Create account
{% endblock title %}

{% block content %}
    <h1>Verify SMS Code</h1>
    {% if user_auth_id|length > 0 and remove_success_message < 1 %}
        <p class="ui message green">One time verification SMS was sent. It will be active for 10 minutes.</p>
    {% endif %}
    {% if user_form.non_field_errors %}
        <div class="ui message error">
            {{ user_form.non_field_errors }}
        </div>
    {% endif %}
    <form 
        class="ui form"
        action="." 
        method="post">
        {% csrf_token %}
        <div class="field">
            <label for="{{ form.sms_password.id_for_label }}">{{ form.sms_password.label }}</label>
            {{ form.sms_password }}
            {% if form.sms_password.errors %}
                <div class="ui message error">
                    {{ form.sms_password.errors }}
                </div>
            {% endif %}
        </div>
        <input 
            type="hidden" 
            value="{{ user_auth_id }}"
            name="user_auth_id">
        <p><input 
            class="ui button green" 
            type="submit" 
            value="Verify"></p>
    </form>
{% endblock content %}