{% extends "_base.html" %}

{% block content %}
    <h1>Verify SoftToken Code</h1>
    {% if user_auth_id and remove_success_message < 1 %}
        <p class="ui message green">
            <i class="close icon"></i>
            SoftToken was sent. You will receive an SMS with one time verification code if you don't have Authy App.
        </p>
    {% endif %}
    {% if user_form.non_field_errors %}
        <div class="ui message error">
            {{ user_form.non_field_errors }}
        </div>
    {% endif %}
    <form 
        class="ui form"
        action="." 
        method="post">
        {% csrf_token %}
        <div class="field">
            <label for="{{ form.sms_password.id_for_label }}">Sms/SoftToken</label>
            {{ form.sms_password }}
            {% if form.sms_password.errors %}
                <div class="ui message error">
                    {{ form.sms_password.errors }}
                </div>
            {% endif %}
        </div>
        <input 
            type="hidden" 
            value="{{ user_auth_id }}"
            name="user_auth_id">
        <p><input 
            class="ui button green" 
            type="submit" 
            value="Verify"></p>
    </form>
{% endblock content %}