header {
    margin: 1em 0;
}

#content {
    max-width: 700px !important;
}

.ui.form .error.message, 
.ui.form .success.message, 
.ui.form .warning.message{
    display: block;
}
.video-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    padding-top: 30px; 
    height: 40%; 
    height: 40vh; 
    overflow: hidden; 
} 
.video-container iframe, .video-container object, .video-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

form ul {
    padding: 0;
}
form ul li, ul.error li {
    list-style: none
}

.ui.form select {
    width: 100% !important;
}

.onetouch--loader {
    height: 10%;
    height: 10vh;
}